*,
*::after,
*::before {
  box-sizing: border-box;
  color: rgb(45, 50, 50);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  background-color: #f8e8e2;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  &-title {
    text-align: start;
    margin-top: 0;
  }
}
