*,
*::after,
*::before {
  box-sizing: border-box;
  color: rgb(45, 50, 50);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.app {
  min-height: 100vh;
  background-color: #f8e8e2;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  &-title {
    text-align: start;
    margin-top: 0;

    &-wrapper {
      margin-right: auto;
    }
  }

  &-button {
    margin-top: 10px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    height: 28px;
    background-color: #ff8a8a;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 14px;
    margin-left: 10px;
    &:hover {
      background-color: #ffa5a5;
    }
  }
}
