.event-card {
    width: 325px;
    height: 100%;
    min-height: 200px;
    box-shadow: 0px 0px 15px 0px #959595;
    background-color: #f6f6f2;
    display: flex;
    flex-direction: column;

    &-img{
        height: 300px;
        object-fit: cover;
    }

    &-about{
        padding: 20px 15px 35px 15px;
    }

    &-title {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 16px;
    }

    &-duration{
        font-size: 12px;
        font-weight: 400px;
        margin-bottom: 5px;
    }

    &-price{
        font-size: 12px;
        font-weight: 400px;
    }
}
