.event-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-breadcrumbs {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 4px;
        padding-left: 12px;
        box-shadow: 0 11px 10px 0 #909090;

        a {
            text-decoration: none;
        }
        div {
            cursor: default;
        }
    }

    &-scroll-container {
        height: calc(100vh - 88px);
        width: 100%;
        overflow-y: scroll;
        padding-top: 20px;
    }

    &-container {
        max-width: 1320px;
        width: 100%;
        padding: 0 12px;
    }

    &-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
    }

    &-mainInfo {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    &-img {
        width: 50%;
        object-fit: contain;
        margin-right: 12.5px;
    }

    &-info {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        &-title {
            font-size: 16px;
            line-height: 1.375;
            font-weight: 600;
        }

        &-description {
            font-size: 16px;
            line-height: 1.375;
            font-weight: 400;
        }
    }

    &-about {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 50px;

        &-title {
            font-size: 26px;
            font-weight: 600;
            line-height: 1.4;
        }

        &-description {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.625;
        }
    }
}
